@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.spc-intro {
  height: 100vh;
  /* background: linear-gradient(to right, #004D99, #00C853); */
  background: #f5f5f5;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #292929;
  transition: background 0.8s ease-in-out, background-color 0.8s ease-in-out, background-image 0.8s ease-in-out;
}

.spc-intro h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 30px;
}

.spc-intro h1 img {
  width: 30px;
}

.spc-intro .login-wrapper {
  gap: 60px;
  padding: 60px 80px;
  /* background: linear-gradient(to right, #004D99, #00C853);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px); */
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.spc-intro .login-cards {
  display: flex;
  align-items: center;
  gap: 30px;
}

.spc-intro .login-card {
  width: 380px;
  max-height: 260px;
  padding: 40px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.04);
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
}

.spc-intro .login-card .icon {
  display: block;
  margin: 0 auto 20px;
}

.spc-intro .login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.15);
}

.spc-intro .login-card.partner {
  background: linear-gradient(to right, #3358f4, #003087);
  box-shadow: 0 0 12px rgba(29, 140, 248, 0.4);
}

.spc-intro .login-card.partner:hover {
  box-shadow: 0 0 20px rgba(29, 140, 248, 0.8);
}

.spc-intro .login-card.root {
  background: linear-gradient(to right, #008233, #00E600);
  box-shadow: 0 0 16px rgba(0, 242, 195, 0.4);
}

.spc-intro .login-card.root:hover {
  box-shadow: 0 0 28px rgba(0, 242, 195, 0.8);
}

.spc-intro .login-card h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.spc-intro .login-btn {
  padding: 16px 36px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  color: #292929;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.spc-intro .customer-support {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
}

.spc-intro .customer-support img {
  width: 22px;
}

.spc-intro .access-warning {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  ;
}

.spc-intro .footer {
  font-size: 12px;
  text-align: center;
}